.Article  {}

.Article blockquote {
font-family: Georgia, serif;
font-size: 24px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

.Article p  {
  margin-bottom: 15px;
  line-height: 1.4;
}

.Article li {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 15px;
}