.Splitter {
  display: flex;
  list-style: none;
  height: 23px;
  margin: 60px 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  width: 60px;
}

.Splitter__Square {
  background-color: #2AB9E2;
  transform: rotate(45deg);
}

.Splitter__Square--small  {
  width: 7px;
  height: 7px;
}

.Splitter__Square--big  {
  width: 15px;
  height: 15px;
}